

<div class="blackboard">
<h1>App Page Test</h1>

<a href="/list/new">Create new item</a>

    <ul>
      {{#each items}}
      <li >{{this.name}}</li>
      <p>{{this.description}}</p>
      {{/each}}
    </ul>
  </div>
