<h1>Add an new Item</h1>

<a href="/list">Back to the to dos</a>

<form class="newItem" id='newItem' action="/list" method="post" accept-charset="UTF-8">

    <input type="text" name="name" value="ItemTitle" placeholder="add a new item Title"></input><br>
    <input type="button" name="shopping" value="Shopping"></input>
    <input type="button" name="reminder" value="Reminder"></input>
    <input type="button" name="event" value="Event"></input><br>
    <textarea name="textArea" rows="8" cols="40"></textarea><br>
    <input type="submit" value="Submit"></input><br>


</form>
