<h1>Add an new Item</h1>

<a href="/list">Back to the to dos</a>

<form class="newItem" action="/list" method="post" accept-charset="UTF-8">
  <p>
    <input type="text" name="name" value="ItemTitle" placeholder="add a new item Title"><br>
    <input type="button" name="shopping" value="Shopping">
    <input type="button" name="reminder" value="Reminder">
    <input type="button" name="event" value="Event"><br>
    <textarea name="name" rows="8" cols="40"></textarea><br>
    <input type="submit" name="submit" value="Add new item"><br>
  </p>

</form>
